.contact-wrapper {
  padding-bottom: 0px;
}

.contact {
  padding-top: 100px;
  h1 {
    color: white;
  }
}

.question {
  padding-top: 100px;
  h2{
    font-family: $base-font;
    color: $yellow;
    margin-bottom: 50px;
  }
}



.adress {
  padding-top: 50px;
  p {
    color: $blue;
    font-size: 16px;
    font-weight: bolder;
  }
}
