/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */


.icones-wrapper {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icones {
  h2{
    font-family: cooper hewitt;
  }
  img{
    max-width: 120px;
  }
}
