/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */


.citation-wrapper {
  padding-top: 200px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.presentation{
  padding-bottom: 150px;
  padding-left: 50px;
  display: block;
  width: 450px;
  font-size: 70px;
  text-align: left;
  h1 {
    font-family: $base-font;
    font-weight: 300;
    color: $blue;
  }
  h3 {
    font-family: open sans;
    color: $yellow;
    margin: 0;
  }
}

.presentation .colored {
  color: $green;
  font-size: 75px;
  font-family: $header-font;
  font-weight: bold;
}

.citation {
  text-align: left;
  h2 {
    font-family: $header-font;
    font-style: italic;
    margin: 0;
    color: $green;
  }
  p {
    font-family: $base-font;
    color: $blue;
  }
}

.icon {
  padding-bottom: 20px;
  img {
    width: 100px;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
  }
}

.icon img:hover {
  transform: translateX(100px);
}

.tour-bulle {
    padding-bottom: 50px;
  h3 {
    color:$green;
    font-family: $header-font;
  }
}
.project-wrapper {
  // height: 800px;
  // background-color: $blue;
  padding: 40px;
}


.card {
  height: 300px;
  // position: relative;
}

.card:hover {
  opacity: 0.5;
  transition: all 0.8s ease;
}

.project1 {
  background-color: #0a90c9;
  background-image: url('http://res.cloudinary.com/dusxpvpz7/image/upload/v1493223202/logo-blanc_zikxvo.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.project2{
  background-color: #e71d71;
  background-image: url('http://res.cloudinary.com/dusxpvpz7/image/upload/v1493224168/logo-archil-sans-fond_oczpe0.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.project3 {
  background-color: $yellow;
}

.project4 {
  background-color: $green;
}
