/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */


.citation-wrapper {
  padding-top: 200px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.presentation{
  padding-bottom: 150px;
  padding-left: 50px;
  display: block;
  width: 450px;
  font-size: 70px;
  text-align: left;
  h1 {
    font-family: $base-font;
    font-weight: 300;
    color: $blue;
  }
  h3 {
    font-family: open sans;
    color: $yellow;
    margin: 0;
  }
}

.presentation .colored {
  color: $green;
  font-size: 75px;
  font-family: $header-font;
  font-weight: bold;
}

.citation {
  text-align: left;
  h2 {
    font-family: $header-font;
    font-style: italic;
    margin: 0;
    color: $green;
  }
  p {
    font-family: $base-font;
    color: $blue;
  }
}

.icon {
  padding-bottom: 20px;
  img {
    width: 100px;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
  }
}

.icon img:hover {
  transform: translateX(100px);
}

.tour-bulle {
    padding-bottom: 50px;
  h3 {
    color:$green;
    font-family: $header-font;
  }
}
.project-wrapper {
  // height: 800px;
  // background-color: $blue;
  padding-bottom: 200px;
}


.card {
  height: 300px;
  margin: auto;
  // position: relative;
}

.card:hover {
  opacity: 0.5;
  transition: all 0.8s ease;
}

.soretec {
  background-color: #0a90c9;
  background-image: url('http://res.cloudinary.com/dusxpvpz7/image/upload/v1493223202/logo-blanc_zikxvo.png');
  background-repeat: no-repeat;
  background-position: center center;
  // margin: 5px;
}

.archil{
  background-color: #e71d71;
  background-image: url('http://res.cloudinary.com/dusxpvpz7/image/upload/v1493224168/logo-archil-sans-fond_oczpe0.png');
  background-repeat: no-repeat;
  background-position: center center;
  // margin: 5px;
}

.ose {
  background-color: black;
  background-image: url('http://res.cloudinary.com/dusxpvpz7/image/upload/v1494078045/ose-logo-trans_y1jtgb.png');
  background-repeat: no-repeat;
  background-position: center center;
  // margin: 5px;
}

.dmum {
  background-color: #eff5ff;
  background-image: url('http://res.cloudinary.com/dusxpvpz7/image/upload/v1494542468/dmum-logo-trans_imxnll.png');
  background-repeat: no-repeat;
  background-position: center center;
  // margin: 5px;
}

.fermepc {
  background-image: url('http://res.cloudinary.com/dusxpvpz7/image/upload/v1494085262/LOGO_FINAL_a8gdul.jpg');
  background-repeat: no-repeat;
  background-position: center center;
}

.pelemele {
  background-image: url("http://res.cloudinary.com/dusxpvpz7/image/upload/v1494542669/couv-ag_o5e3tz.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
