<div class="banner" style="background-image: url('http://res.cloudinary.com/dusxpvpz7/image/upload/v1490866473/Banniere_web2_m19v5o.jpg');">
  <div class="overlay"></div>
  <div class="container">
    <div class="banner-content">
      <img src="http://res.cloudinary.com/dusxpvpz7/image/upload/v1490695839/logo_w4whbz.png" alt="logo">
      <h1>REGARDER<br/>
      S'INSPIRER<br/>
      CREER</h1>
    </div>
  </div>
</div>

<div class="icones text-center padded">
  <div class=container>
    <div class=row>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <img src="http://res.cloudinary.com/dusxpvpz7/image/upload/v1490695838/icone-idee_fope2y.png" alt="idea icon">
            <h2>Discover the world</h2>
            <p>The earth is your new home</p>
          </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <img src="http://res.cloudinary.com/dusxpvpz7/image/upload/v1490695838/icone-dessin_dmzllm.png" alt="pen icon">
          <h2>Pay online</h2>
          <p>No cash issues anymore</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <img src="http://res.cloudinary.com/dusxpvpz7/image/upload/v1490695838/icone-web_bpghlk.png" alt="computer icon">
          <h2>Meet people</h2>
          <p>Discover new culture and lifestyle</p>
        </div>
    </div>
  </div>
</div>

