<!-- bannière parallax -->
<div class="banner">
  <div id="scene" class="scene">

    <ul>


      <li class="layer plan1" data-depth="0.5">
        <img src="http://res.cloudinary.com/dusxpvpz7/image/upload/v1492784961/ellipses-px-1_x0zbvc.png">
      </li>

      <li class="layer plan2" data-depth="1">
        <img src="http://res.cloudinary.com/dusxpvpz7/image/upload/v1492784962/ellipses-px-2_q7nn53.png">
      </li>

       <li class="layer portrait" data-depth="0">
        <img src="http://res.cloudinary.com/dusxpvpz7/image/upload/v1493029924/portrait-web-2_dv33uz.png" alt="photo portrait">
      </li>

      <li class="layer plan3" data-depth="1.5">
        <img src="http://res.cloudinary.com/dusxpvpz7/image/upload/v1492784962/ellipses-px-3_ycovco.png">
      </li>

    </ul>

  </div>
</div>

<!-- javascript pour parallax -->

<script type="text/javascript" src="deploy/parallax.js"></script>
<script>
  var scene = document.getElementById("scene");
  var parallax = new Parallax(scene);
</script>

<!-- <div class="banner" style="background-image: url('http://res.cloudinary.com/dusxpvpz7/image/upload/v1490866473/Banniere_web2_m19v5o.jpg');">
  <div class="container">
    <div class="banner-content">
      <div class="logo">
        <img src="http://res.cloudinary.com/dusxpvpz7/image/upload/v1490695839/logo_w4whbz.png" alt="logo">
      </div>
      <div class=slogan>
        <h1 class="text-left">REGARDER<br/>
        S'INSPIRER<br/>
        CREER</h1>
      </div>
    </div>
  </div>
</div> -->

<!-- icones wrapper -->

<!-- <div class="text-center padded">
  <div class="container icones-wrapper">
    <div class=row>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 icones">
          <img src="http://res.cloudinary.com/dusxpvpz7/image/upload/v1490695838/icone-idee_fope2y.png" alt="idea icon">
            <h2>Des idées</h2>
            <p>Vous accompagner dans votre stratégie de communication</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 icones">
          <img src="http://res.cloudinary.com/dusxpvpz7/image/upload/v1490695838/icone-dessin_dmzllm.png" alt="pen icon">
          <h2>De la technique</h2>
          <p>Mettre tout en oeuvre pour vous fournir des documents de communication à votre image</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 icones">
          <img src="http://res.cloudinary.com/dusxpvpz7/image/upload/v1490695838/icone-web_bpghlk.png" alt="computer icon">
          <h2>Du web</h2>
          <p>Développer votre site web et votre présence sur le net</p>
        </div>
    </div>
  </div>
</div> -->

<div class="container citation-wrapper">

    <div class=row>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <div class="presentation">
          <h1>Hello! Je suis <span class="colored">Graphiste</span> & <span class="colored">Webdesigner</span></h1></br>
          <h3>Laissons nous aller à imaginer de belles choses</h3>
        </div>
      </div>
    </div>

    <div class=row>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <div class="citation">
          <h2>Everything is design. Everything!</h2></br>
          <p>- Paul Rand</p>
        </div>
      </div>
    </div>

</div>


<!-- exemple de projets -->

<div class="project-wrapper">
  <div class="container">
    <div class=row>
      <a href="projects/soretec.html"><div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-6 col-lg-offset-1 col-lg-6 card project1">
      </div></a>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 card project2">
      </div>
    </div>
    <div class=row>
      <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-4 col-lg-offset-1 col-lg-4 card project3">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 card project4">
      </div>
    </div>
  </div>
</div>

