<!-- bannière parallax -->
<div class="banner">
  <div id="scene" class="scene">

    <ul>


      <li class="layer plan1" data-depth="0.5">
        <img src="http://res.cloudinary.com/dusxpvpz7/image/upload/v1492784961/ellipses-px-1_x0zbvc.png">
      </li>

      <li class="layer plan2" data-depth="1">
        <img src="http://res.cloudinary.com/dusxpvpz7/image/upload/v1492784962/ellipses-px-2_q7nn53.png">
      </li>

       <li class="layer portrait" data-depth="0">
        <img src="http://res.cloudinary.com/dusxpvpz7/image/upload/v1493029924/portrait-web-2_dv33uz.png" alt="photo portrait">
      </li>

      <li class="layer plan3" data-depth="1.5">
        <img src="http://res.cloudinary.com/dusxpvpz7/image/upload/v1492784962/ellipses-px-3_ycovco.png">
      </li>

    </ul>

  </div>
</div>

<!-- javascript pour parallax -->

<script type="text/javascript" src="deploy/parallax.js"></script>
<script>
  var scene = document.getElementById("scene");
  var parallax = new Parallax(scene);
</script>


<!-- icones wrapper -->

<!-- <div class="text-center padded">
  <div class="container icones-wrapper">
    <div class=row>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 icones">
          <img src="http://res.cloudinary.com/dusxpvpz7/image/upload/v1490695838/icone-idee_fope2y.png" alt="idea icon">
            <h2>Des idées</h2>
            <p>Vous accompagner dans votre stratégie de communication</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 icones">
          <img src="http://res.cloudinary.com/dusxpvpz7/image/upload/v1490695838/icone-dessin_dmzllm.png" alt="pen icon">
          <h2>De la technique</h2>
          <p>Mettre tout en oeuvre pour vous fournir des documents de communication à votre image</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 icones">
          <img src="http://res.cloudinary.com/dusxpvpz7/image/upload/v1490695838/icone-web_bpghlk.png" alt="computer icon">
          <h2>Du web</h2>
          <p>Développer votre site web et votre présence sur le net</p>
        </div>
    </div>
  </div>
</div> -->

<div class="container citation-wrapper">

    <div class=row>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
        <div class="presentation">
          <h1>Hello! Je suis <span class="colored">Graphiste</span> & <span class="colored">Webdesigner</span></h1>
          <h3>Laissons nous aller, imaginons de belles choses!</h3>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="icon">
              <img src="http://res.cloudinary.com/dusxpvpz7/image/upload/v1490695838/icone-idee_fope2y.png" alt="idea icon">
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="icon">
              <img src="http://res.cloudinary.com/dusxpvpz7/image/upload/v1490695838/icone-dessin_dmzllm.png" alt="pen icon">
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="icon">
              <img src="http://res.cloudinary.com/dusxpvpz7/image/upload/v1490695838/icone-web_bpghlk.png" alt="computer icon">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class=row>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <div class="citation">
          <h2>Everything is design. Everything!</h2></br>
          <p>- Paul Rand</p>
        </div>
      </div>
    </div> -->

</div>


<!-- exemple de projets -->

<div class="project-wrapper">
  <div class="tour-bulle text-center">
    <h3>Un petit tour dans ma bulle ça vous dit?</h3>
  </div>
  <div class="container">
    <div class=row>
      <a href="projects/soretec.html">
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 card soretec no-padding">
          <div class="">
          </div>
        </div>
      </a>
      <a href="projects/archil.html">
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 card archil no-padding">
          <div class="">
          </div>
        </div>
      </a>
    </div>
    <div class=row>
      <a href="projects/ose.html">
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 card ose no-padding">
        </div>
      </a>
      <a href="projects/dmum.html">
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 card dmum no-padding">
        </div>
      </a>
    </div>
    <div class=row>
      <a href="projects/fermepc.html">
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 card fermepc no-padding">
        </div>
      </a>
      <a href="projects/pelemele.html">
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 card pelemele no-padding">
        </div>
      </a>
    </div>
  </div>
</div>

