<div class="project-wrapper">
  <div class="container">
    <div class=row>
      <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-6 col-lg-offset-1 col-lg-6 project1">
        <div class="card">
          <a></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 project2">
        <div class="card" style="background-image: url(');">
        </div>
      </div>
    </div>
    <div class=row>
      <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-4 col-lg-offset-1 col-lg-4 project3">
        <div class="card" style="background-image: url(');">
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 project4">
        <div class="card" style="background-image: url(');">
        </div>
      </div>
    </div>
  </div>
</div>
