<%= render 'shared/navbar-project' %>

<div class="project-wrapper">
  <div class="container">
    <div class=row>
      <a href="projects/soretec.html">
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 card soretec no-padding">
          <div class="">
          </div>
        </div>
      </a>
      <a href="projects/archil.html">
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 card archil no-padding">
          <div class="">
          </div>
        </div>
      </a>
    </div>
    <div class=row>
      <a href="projects/ose.html">
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 card ose no-padding">
        </div>
      </a>
      <a href="projects/dmum.html">
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 card dmum no-padding">
        </div>
      </a>
    </div>
    <div class=row>
      <a href="projects/fermepc.html">
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 card fermepc no-padding">
        </div>
      </a>
      <a href="projects/pelemele.html">
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 card pelemele no-padding">
        </div>
      </a>
    </div>
  </div>
</div>
