.banner {
  height: 100vh;
  text-align: center;
}

.banner-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo img {
  max-width: 200px;
  margin-right: 50px;
}

h1 {
  font-family: cooper hewitt, palanquin dark;
}
